.vs/
3DGraphiK.CudaRasterizer/Debug/
3DGraphiK/bin/
3DGraphiK/obj/
Graphik3D11/bin/
Graphik3D11/obj/
3DGraphiK.VC.VC.opendb
3DGraphiK.VC.db
3DGraphiK.CudaRasterizer/vc140.pdb
3DGLraphiK/Debug/
GraphiK3D/Debug/
GraphiK3D/vc140.pdb
