<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea" version="3.0.2" targetFramework="net452" />
  <package id="Alea.CUDA" version="2.2.0.3307" targetFramework="net452" />
  <package id="Alea.CUDA.IL" version="2.2.0.3307" targetFramework="net452" />
  <package id="Alea.IL" version="2.2.0.3307" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="SharpDX" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.Desktop" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="3.1.1" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="3.1.1" targetFramework="net452" />
</packages>